* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}
.fa-bars {
    font-size: 30px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.fa-bars:hover {
    color: orange;
}
.wrapper {
    background-image: url(make.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;   
    margin-top: 250px;
}
.wrapper-content h1 {
    color: white;
    font-size: 70px;
    margin-bottom: 40px;
}
.wrapper-content p {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}
.design {
    background-color: orange;
    padding: 15px 60px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.design:hover {
    background-color: white;
    color: orange;
}
a { 
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}
.designs {
    display: flex;
    align-items: center;
    gap: 20px;
}
.oyna {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.menu {
    position: absolute;
    left: 0;
    width: 300px;
    z-index: 1;
    height: 100vh;
    background-color: rgb(16, 16, 16);
    transform: translateX(-300px);
}
.fa-xmark {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
