* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    font-size: 30px;
    margin-top: 30px;
}
.sun {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}
.menu {
    height: 100%;
    width: 300px;
    background-color: black;
    position: absolute;
    transform: translateX(-300px);
    top: 0;
}
.menu button {
    background-color: black;
    color: rgb(237, 229, 229);
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    font-weight: bold;
}
.left {
    background-image: url(girl.jpeg);
    width: 500px;
    height: 625px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
.wrapper {
    gap:80px;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 100px;
}
.right {
    margin-top: 70px;
}
.right-top {
    width: 531px;
    height: 182px;
    border: 15px solid #F1C50E;
    padding: 30px;
    text-align: right;
}
.right-top h6 {
    font-size: 18px;
    margin-bottom: 20px;
}
.right-top h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.right-bottom-p-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
.p-uchun {
    width: 617px;
}
.right-bottom-p-2 {
    margin-top: 20px;
    font-weight: bold;
    line-height: 1.5;
    font-size: 18px;
}